.text-wrapper{
    width:100%;
    /*position:absolute;*/
    margin-top: -78.5%;
    margin-left: -60%

}

.text-wrapper h1{
    text-align: center;
    color: #4bb1cf;
    font-size: 2vw;
    font-family: 'Bellefair',cursive;
    margin: 60px 100px 10px 350px;
}

h2{
    color:#bdc3c7;
}
p{
    color:#bdc3c7;
}