
.header-container img {
    /*right: 10px;*/
    /*bottom: 20px;*/
    width: 400px ;
    height: 200px;
    text-align:left;
    position: fixed;
    margin: 30px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.header-container .site-name{
    float:right;
    clear:right;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}
