.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.nav {
    background-color: #2371b7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(76, 162, 232)), to(rgb(35, 113, 183)));
    background-image: -webkit-linear-gradient(top, rgb(76, 162, 232), rgb(35, 113, 183));
    background-image: -moz-linear-gradient(top, rgb(76, 162, 232), rgb(35, 113, 183));
    background-image: -o-linear-gradient(top, rgb(76, 162, 232), rgb(35, 113, 183));
    background-image: -ms-linear-gradient(top, rgb(76, 162, 232), rgb(35, 113, 183));
    background-image: linear-gradient(top, rgb(76, 162, 232), rgb(35, 113, 183));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4ca2e8', EndColorStr='#2371b7');
    padding-left: 200px;
}


/** Button Style **/
.button {
    /** Font Style **/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow:rgba(0, 0, 0, 0.30) 0 -1.25px 0;

    /** Button Style **/
    display:-moz-inline-stack;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    vertical-align:middle;
    vertical-align:auto;
    zoom:1;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid #13619f;
    background: #2371b7;
    padding:11px 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    -moz-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

/** Active State Style **/
.button:active {
    border-color: #083559;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

