.menu-container {
    text-align: right;
    margin: 10px 5px;
}
.menu-container a {
    margin: 5px 5px 5px 5px;
    color: #004d99;
    font-weight: bold;
    text-decoration: none;
}

.page-title  {
    font-size:120%;
    text-align: left;
    margin:10px 0px;
}

.product-preview-container {
    border: 1px solid #ccc;
    padding: 5px;
    width: 250px;
    margin: 10px ;
    display: inline-block;
    text-align:left;
}

.product-preview-container input {
    width: 50px;
}
.price {
    color: blue;
    font-weight: bold;
}

.navi-item {
    margin: 5px 5px 5px 20px;
}
.button-send-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}

a {
    color: #bdc3c7;
}
nav{
    width: 100%;

}